*.exe
*.o
*.out
*/.DS_Store
katas/kata0/.DS_Store
.vscode/settings.json
practicas/P0/.DS_Store
.vscode/settings.json
tools
practicas/P1/.DS_Store
katas/kata2/.DS_Store
practicas/P3/main
katas/kata5/.DS_Store
.DS_Store
practicas/P6/hash.o
practicas/P6/hashtest.o
.vscode/launch.json
